* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    background-color: white;
}

.section-companies {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px 130px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(251, 235, 215);
}

.company-logos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

HTML {
    scroll-behavior: smooth ;
}

.section-companies p {
    color: rgb(47, 28, 72);
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* services-section*/

.p-services {
    color: rgb(248, 249, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px; 
    border-radius: 20px;
    background-color: rgb(172, 108, 255);
    padding: 40px 66px;
}

.services-section {
background: rgb(47, 28, 72);
display: flex;
/* justify-content: center; */
flex-direction: column;
align-items: center;
gap: 60px;
padding: 100px 71px 142px 71px;
}

.services-section p {
    /* Display S/Semibold */
    color: rgb(248, 249, 255);
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -1%;
    text-align: left;
}

.services-list h4 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    text-align: left;
}

.services-list div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background: rgb(172, 108, 255);
}

.services-list {
    display: flex;
    gap: 20px;
}

#section-2 {
    height: 500px;
    background-color:orange;
}

#section-3 {
    height: 500px;
    background:aqua;
}